/* Note to students:
Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!
*/


html {
    height: 100%;
  }
  
  body {
    margin: 0;
    height: 100%;
    font-family: helvetica;
  }
  
  a {
    color: darkolivegreen;
  }
  
  header {
    padding: 10px;
    background: darkolivegreen;
    color: white;
    text-align: center;
  }
  
  nav {
    width: 200px;
    height: 100%;
    float: left; /* don't modify */
    background-color:#f2f394;
    margin-right: 20px;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    margin-bottom: 20px;
  }
  
  section {
    width: 500px;
    float: left; /* don't modify */
    padding: 5px;
  }

  article h2 {
      color: darkolivegreen;
  }

  article h3 {
      color: darkgreen;
  }
  
  footer {
    clear: left; /* don't modify */
    padding: 10px;
    background: lightseagreen;
    text-align: center;
  }